---
title: Sobre
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
  data-theme="{{ site.theme-color }}">
  <h2>SOBRE</h2>
</div>

<main class="tags-content">
  <ul class="tags-list">
    <li style="text-align:center">
      <p class="post-content">
        O Blog de IoT é um site mantido por <a target="#danielaraujorn" title="GitHub de Daniel Araújo" href="https://github.com/danielaraujorn">Daniel
          Araújo</a> e <a target="#judsonc" title="GitHub de Judson Costa" href="https://github.com/judsonc">Judson
          Costa</a>. Todos com o objetivo principal de divulgar e ensinar como utilizar a plataforma <a target="#saiot"
          title="Site do SaIoT" href="https://saiot.ect.ufrn.br">SaIoT</a>. Além disso, mostrar ferramentas,
        bibliotecas, APIs, tutoriais
        do mundo do software livre e de código aberto para as pessoas.<br><br>

        O SaIoT (<em>Smart Automation using Internet of Things</em>) é uma plataforma genérica para internet das coisas
        que faz parte do projeto <a target="#smartmetropolis" title="Site do SmartMetropolis" href="https://smartmetropolis.imd.ufrn.br">SmartMetropolis</a>
        da <a target="#ufrn" title="Site do UFRN" href="https://www.ufrn.br">UFRN</a>.<br><br><br>

        <a target="#blog" href="https://github.com/danielaraujorn/blog" title="GitHub do Blog de IoT"><i class="fa fa-github fa-4x"></i></a>
      </p>
    </li>
  </ul>
</main>

{% include footer.html %}