<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
  <div class="visible">
    {{ content }}
  </div>
  <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
  <script async src="{{site.baseurl}}/assets/js/prism.js"></script>
  <script async src="{{site.baseurl}}/assets/js/index.min.js"></script>
  <script async id="dsq-count-scr" src="//danielaraujorn.disqus.com/count.js"></script>
  <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4330756195385548",
      enable_page_level_ads: true
    });
  </script> -->
</body>

</html>